{% assign headings = html | split: '<h' %}
{% assign toc = "" %}
{% for heading in headings %}
  {% if heading contains '</h2>' or heading contains '</h3>' %}
    {% assign level = heading | slice: 0, 1 %}
    {% assign heading_text = heading | split: '>' | last | split: '</h' | first %}
    {% assign anchor = heading_text | slugify %}
    <li class="toc-level-{{ level }}">
      <a href="#{{ anchor }}">{{ heading_text }}</a>
    </li>
  {% endif %}
{% endfor %}
<ul class="{{ include.class | default: 'toc__menu' }}">{{ toc }}</ul>